<?xml version="1.0" encoding="Windows-1252"?>
<VisualStudioPropertySheet
	ProjectType="Visual C++"
	Version="8.00"
	Name="local_development_environment"
	>
	<UserMacro
		Name="BOOST"
		Value="c:\lib\boost_1_54_0\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="STLPORT"
		Value="C:\lib\STLport-5.2.1"
		PerformEnvironmentSet="true"
	/>
</VisualStudioPropertySheet>
